#calendar-container {
    margin: 10px;
    width: 100%;
    display: flex;

    justify-content: center;
}

#calendar {
    width: 600%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

#calendar div {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

#calendar .header {
    font-weight: bold;
    background-color: #f2f2f200;
}


#calendar .selected {
    background-color: #4caf50;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}


table th {
    background-color: transparent;
    color: rgb(0, 0, 0);
}




.special-day {
    background-color: #ffa726; /* Cor laranja para destacar os dias especiais */
    color: rgb(0, 0, 0);
    font-weight: bold;
}
