
/* Tabela e Listagens */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

table th {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

table tr:hover {
    background-color: #f1f1f175;
}


/* Estilo para o botão de status */
.status-btn {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.status-btn.active {
    background-color: green;
}

.status-btn.inactive {
    background-color: red;
}